<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"
        android:label="Calculadora Científica"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity 
            android:name=".MainActivity" 
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BovedaActivity" android:exported="false" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".NavegadorActivity" android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".GaleriaActivity" android:exported="false" />
        <activity android:name=".VideoActivity" android:exported="false" />
        <activity android:name=".VisorActivity" android:exported="false" />
        <activity android:name=".ReproductorActivity" />
        
        <activity 
            android:name=".DescargasActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        
        <activity 
            android:name=".NotasActivity" 
            android:exported="false" 
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="adjustResize" />  
        
    </application>
</manifest>
