<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_calculadora_2"
        android:roundIcon="@drawable/ic_calculadora_2"
        android:label="Calculadora Cientifica"
        android:theme="@style/Theme.CalculadoraGaga"
        android:requestLegacyExternalStorage="true"> <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".BovedaActivity" android:exported="false" />
        <activity android:name=".NavegadorActivity" android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
        <activity android:name=".GaleriaActivity" android:exported="false" />
        <activity android:name=".VideoActivity" android:exported="false" />
        <activity android:name=".VisorActivity" android:exported="false" />
        <activity android:name=".ReproductorActivity" android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
        <activity android:name=".DescargasActivity" android:exported="false" />
        <activity android:name=".VideoGaleriaActivity" android:screenOrientation="portrait" />
        <activity android:name=".NotasActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".AjustesActivity" android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
