name: APK 2026 Blindado
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      # Usamos Java 17 que es el estándar actual
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      # Instalamos Gradle 8.0 (Versión muy estable)
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '8.0'

      # EL TRUCO: "-x lint" ignora las advertencias y fuerza la creación del APK
      # "assembleRelease" crea la app sin firmar primero
      - name: Build with Gradle
        run: gradle assembleRelease -x lint --stacktrace

      - name: Sign APK
        uses: r0adkll/sign-android-release@v1
        id: sign_app
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.KEYSTORE_FILE }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: AppFinal
          path: ${{steps.sign_app.outputs.signedReleaseFile}}
