name: APK 2026 Final
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '8.2'

      # Build del APK
      - name: Build with Gradle
        run: gradle assembleRelease -x lint

      # ESTE PASO NUEVO ARREGLA EL ERROR DEL ZIPALIGN
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      # Firmado del APK (con build-tools actualizado)
      - name: Sign APK
        uses: r0adkll/sign-android-release@v1
        id: sign_app
        with:
          releaseDirectory: app/build/outputs/apk/release
          signingKeyBase64: ${{ secrets.KEYSTORE_FILE }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
          # Forzamos una versión de build-tools que sí existe
          buildToolsVersion: "34.0.0" 

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: AppFinal
          path: ${{steps.sign_app.outputs.signedReleaseFile}}
