name: Android Build and Sign

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    # AQUÍ ESTÁ EL CAMBIO CLAVE: Forzamos Gradle 8.2 para que no de error de compatibilidad
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3
      with:
        gradle-version: '8.2'

    - name: Build Release APK
      run: |
        # Buscamos la raíz del proyecto
        PROJECT_ROOT=$(find . -maxdepth 3 -name build.gradle | grep "app/build.gradle" | xargs dirname | xargs dirname)
        if [ -z "$PROJECT_ROOT" ]; then PROJECT_ROOT="."; fi
        
        echo "Usando carpeta: $PROJECT_ROOT"
        cd "$PROJECT_ROOT"
        
        # Ejecutamos el compilado
        gradle assembleRelease

    - name: Sign APK
      uses: r0adkll/sign-android-release@v1
      id: sign_app
      with:
        releaseDirectory: .
        signingKeyBase64: ${{ secrets.KEYSTORE_FILE }}
        alias: ${{ secrets.KEY_ALIAS }}
        keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}

    - name: Upload Signed APK
      uses: actions/upload-artifact@v4
      with:
        name: calculadora-treska-final
        path: "**/*-release-signed.apk"
